<div>
  <form>

    Ville:<br>
    <input type="text" name="lastname" value="" ng-model="city"><br><br>
    <input type="submit" value="Submit" ng-click="$ctrl.getCity(city)">
  </form>
</div>

<div>
  <span>le taux d'humidité : {{$ctrl.weather.main.humidity}}</span><br>
  <span>La latitude est de : {{$ctrl.weather.coord.lat}}</span>
</div>
<p>
  Min: <span class="max-min-temp min">{{$ctrl.weather.main.temp_min | number:1}}</span><span class="celsius-sign">&#8451</span>
</p>

<p>
  Max: <span class="max-min-temp max">{{$ctrl.weather.main.temp_max | number:1}}</span><span class="celsius-sign"> &#8451</span>
</p>

température <span class="main-temp">{{$ctrl.weather.main.temp  | number:1}}</span>


</div>


<div>
  <div ng-repeat="webcam in $ctrl.webcams">
    <p><img src="{{webcam.image.current.preview}}" alt="image" srcset="">
    </p>

  </div>
</div>

<!-- -->

<div class="large-12 columns">



</div>